*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(205, 204, 204);
    color:grey;
    font-family:verdana;
    padding-right: 1%;
    padding-left: 1%; 
    height: 85px;
    font-size: 15px;
    border: 3px solid #6e7e8f;
    border-radius: 5px;
} 
.navbar-links ul{
    margin: 1px;
    padding: 1px;
    display:flex;
}
.navbar-links li{
    list-style:none;
    margin-left: 3px;
}
.navbar-links li a{
    text-decoration: none;
    color: rgb(85, 85, 85);
    padding: 1rem;
    display: block;
}
.navbar-links li:hover{
    background-color: rgb(167, 167, 167);
    border-radius: 5px;
}
.navbar-links .current{
    background-color: #899db1;
    border-radius: 5px;
}
.column{
    padding-left: 75px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    float: left;
    font-family: Verdana;
    font-size: smaller;
}
#intropic{
    width: 25%;
    float: right;
    margin-right: 200px;
    border: 2px solid #ddd;
    border-radius: 30px;
    padding: 5px;
}
#pic1{
    width: 100%;
}
footer{
    background-color: #557A95;
    text-align: right;
    padding: 40px;
    clear: both;
    font-family: Verdana;
    font-size: 12px;
    color:#dfdfdf;
    padding-right: 100px;
    border: 5px solid #899db1;
    border-radius: 5px;

}
.centered{
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-family: Verdana;
    font-size: xx-large;
}
.pic{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 50%;
    float: right;
}
.list{
    list-style-type: none;
}
.col-50 {
    width: 65%;
}
.vertical-padding {
    padding-top: 100px;
    padding-bottom: 100px;
}
.horizontal-padding {
    padding-left: 80px;
    padding-right: 80px;
}
.container{
    text-align: left;  
  }
.row {
    display: flex;
}
.center{
    text-align: center;
}

.sectionbg{
    background-image: linear-gradient(#ebe8e6 30%, #c4bcb5);
}
.sectionbg2{
    background-image: linear-gradient(#c4bcb5 30%, #ebe8e6);
    border-radius: 5px;
}
.sectionbgcolor{
    background-image: linear-gradient(#ebe8e6 80%, #d11b1b);
}
.sectionintro{
    background-image: linear-gradient(#899db1 30%, #ebe8e6);
    padding-top: 25px;
    padding-bottom: 175px;
}
.introleer{
    background-image: linear-gradient(#899db1 30%, #ebe8e6);
    padding-top: 75px;
    padding-bottom: 75px;  
    text-align: center;
}
.introtext{
    padding-left: 250px;
    padding-right: 250px;
}
.introlu{
    border-radius: 20px;
}
#headintro{
    position: absolute;
    font-family: verdana;
    font-size: 40px;
    color: #c0043d;
    margin-left: 325px;
    margin-top: 0px;
 }
#homeintro{
    position: absolute;
    margin-top: 175px;
    margin-left: 100px;
    font-family: verdana;
    font-size: 17px;
    color: #006d05;
}
.homepics{
    position: relative;
    top: 0;
    left: 0;
}
.homepics{
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}
.homepics:hover{
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
#homepic1{
    position: relative;
    width:250px;
    height:250px;
    top: 75px;
    left: 400px;
    border: 3px red solid;
    border-radius: 2px;
}
#homepic2{
    position: absolute;
    width: 250px;
    height: 250px;
    top: 105px;
    left: 625px;
    border: 3px green solid;
    border-radius: 2px;
}
#homepic3{
    position: absolute;
    width:250px;
    height:265px;
    top: 135px;
    left: 850px;
    border: 3px blue solid;
    border-radius: 2px;
}
.p{
    color:black;
    margin-left: 5%;
    font-family: verdana;
    font-size: 15px;
}
.title{
    color:red;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title2{
    color:#ef30e2;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title3{
    color:#3b32ed;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title4{
    color:#3b9de0;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title5{
    color:#379e21;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title6{
    color:#fff700;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
.title7{
    color:#a09b19;
    font-family: verdana;
    font-size: 18px;
    text-align: center;
}
#myButton {
    position: fixed;
    left:10px;
    bottom:10px;
    width:70px;
    height:70px;
    border-radius: 50%;
    background:#7395AE;
    box-shadow: 0 0 10px rgb(0,0,0,0.25);
    color:#ffffff;
    outline: none;
    cursor: pointer;
}
#myButton:hover {
	background-color:#1e5f8d;
}

#myBtn {
    position: fixed;
    right:10px;
    bottom:10px;
    width:70px;
    height:70px;
    border-radius: 50%;
    background:#7395AE;
    box-shadow: 0 0 10px rgb(0,0,0,0.25);
    color:#ffffff;
    outline: none;
    cursor: pointer;
    scroll-behavior: smooth;
}
#myBtn:hover {
	background-color:#1e5f8d;
}
.pocbtn {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#ddaaaa;
	border-radius:5px;
	border:3px solid #f23030;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  

}
.pocbtn:hover {
    background-color:#c06565;
}
.pocbtn:link {
	position:relative;
    top:1px;
}
.pocbtndev {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#e6b3e2;
	border-radius:5px;
	border:3px solid #ef30e2;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  
}
.pocbtndev:hover {
    background-color:#d373cc;
}
.pocbtndev:link {
	position:relative;
    top:1px;
}
.pocbtndes {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#b3b1e4;
	border-radius:5px;
	border:3px solid #3b32ed;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  
}
.pocbtndes:hover {
    background-color:#817ddb;
}
.pocbtndes:link {
	position:relative;
    top:1px;
}
.pocbtnres {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#a6c5da;
	border-radius:5px;
	border:3px solid #3b9de0;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  
}
.pocbtnres:hover {
    background-color:#79afd3;
}
.pocbtnres:link {
	position:relative;
    top:1px;
}
.pocbtncom {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#839c7d;
	border-radius:5px;
	border:3px solid #379e21;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  
}
.pocbtncom:hover {
    background-color:#699b5e;
}
.pocbtncom:link {
	position:relative;
    top:1px;
}
.pocbtnpi {
	box-shadow:inset 0px 0px 0px 0px #a3b8cc;
	background-color:#e9e7b8;
	border-radius:5px;
	border:3px solid #fff80b;
	display:inline-block;
    cursor:pointer;
    font-family:Arial;
    font-size:15px;
    padding:5px 15px;  
}
.pocbtnpi:hover {
    background-color:#e7e483;
}
.pocbtnpi:link {
	position:relative;
    top:1px;
}
a {
    text-decoration: none;
    color:rgb(54, 56, 66);
}
.sectionhi{
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Verdana;
    font-size: smaller;
    background-image: linear-gradient(#ebe8e6 65%, rgb(224, 180, 114));
}
#myContainer {
    width: 400px;
    height: 400px;
    position: relative;
    background: rgb(22, 179, 8);
  }
  
  #myAnimation {
    width: 50px;
    height: 50px;
    position: absolute;
    background: red;
  }



        